body {
    background-image: url(coffee_beans.jpg);
    padding: 20px;
    font-family:'Courier New', Courier, monospace;
  }
  
h1, h2, p {
    text-align: center;
  }

h1{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    
}
h2{
    font-size: 30px;
}
h1, h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.established{
    font-style: italic;
}
  
.menu {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    max-width: 500px;
    border-radius: 8px;
  }

.item p{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 17px;
  }

.flavor, .dessert{
    text-align: left;
    width: 75%;
}

.price{
    text-align: right;
    width: 25%;
}
img{
    width: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -17px;
}
hr{
    background-color: brown;
    border-color: brown;
    height: 2px;
}
.bottom-line{
    margin-top: 25px;
}

/* FOOTER */
footer{
    font-size: 12px;
}
.address{
    margin-bottom: 5px;
}

a {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: brown;
  }
  
  a:active {
    color: brown;
  }